@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Police globale */
body {
    font-family: 'Poppins', sans-serif; /* Applique Poppins partout */
    font-size: 0.9rem; /* Taille par défaut */
    margin: 0;
    padding: 0;
    color: #11111; /* Couleur sombre par défaut */
    background-color: #11111; /* Fond général clair */
    box-sizing: border-box;
    overflow-y: hidden;
}


.navbar-custom {
    background-color: #027699;
    padding: 1rem 2rem;
    display: flex;
    height: 38px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    width: 100%; /* Assurez-vous que la barre s'adapte à la largeur de la page */
    max-width: 100%; /* Empêche de dépasser les limites de la fenêtre */
    overflow: hidden; /* Supprime les débordements horizontaux */
    box-sizing: border-box; /* Inclut les marges et le padding dans la largeur totale */
}

/* Style pour le titre du dashboard */
.navbar-title {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    letter-spacing: 0.025em;
    margin: 0;
}

/* Style pour l'icône GitLab */
.navbar-custom .gitlab-icon {
    height: 25px;
    margin-left: auto;
    display: flex;
    align-items: center;
}

/* Conteneur principal des onglets */
.tabs-container {
    display: flex;
    justify-content: flex-start; /* Aligner les onglets à gauche */
    margin-top: -15px; /* Réduit l'espace au-dessus des onglets */
    padding: 0 !important; /* Supprime tout espacement interne */
    width: 100%; /* S'assure que les onglets occupent toute la largeur */
    background-color: transparent; /* Pas de couleur de fond */
    border: none; /* Supprime toute bordure */
    box-shadow: none; /* Supprime toute ombre */
}

/* Supprime les styles par défaut de Dash */
.dcc-tabs {
    border: none !important; /* Supprime toutes les bordures */
    box-shadow: none !important; /* Supprime les ombres */
    margin: 0 !important; /* Supprime les marges */
    padding: 0 !important; /* Supprime les paddings */
    background-color: transparent !important; /* Supprime toute couleur de fond */
}

/* Style des onglets */
.tab {
    padding: 0; /* Supprime l'espacement interne */
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #4a4a4a; /* Couleur par défaut pour les onglets */
    background-color: transparent !important; /* Pas de couleur de fond */
    border: none !important; /* Supprime toutes les bordures */
    box-shadow: none !important; /* Supprime toute ombre */
    outline: none !important; /* Supprime les contours */
    margin-right: 10px; /* Espacement horizontal entre les onglets */
    cursor: pointer;
}

/* Onglet actif */
.tab.active {
    color: #027699; /* Bleu pour l'onglet actif */
    font-weight: 600; /* Texte en gras pour l'onglet actif */
    background-color: transparent !important; /* Pas de couleur de fond */
    border: none !important; /* Supprime toute bordure */
    box-shadow: none !important; /* Supprime toute ombre */
}

/* Survol des onglets */
.tab:hover {
    color: #1e90ff; /* Change la couleur au survol */
    background-color: transparent !important; /* Pas de couleur de fond au survol */
    border: none !important; /* Pas de bordure au survol */
}


/* Conteneur principal des cartes */
.number-card-layout-container {
    display: flex;
    justify-content: space-between; /* Espacement uniforme entre les cartes */
    flex-wrap: nowrap; /* Empêche les cartes de revenir à la ligne */
    gap: 10px; /* Espacement entre les cartes */
    padding: 5px; /* Marges internes */
    background-color: #11111; /* Fond gris clair */
    border-radius: 12px; /* Coins arrondis pour le conteneur */
    margin-top: -20px; 
    width: 66%; /* Utilise toute la largeur disponible */
    margin-bottom: 20px;
}

/* Style pour chaque carte */
.number-card {
    flex: 1 1 auto; /* Les cartes s'adaptent à l'espace disponible */
    min-width: 150px; /* Largeur minimale des cartes */
    max-width: 220px; /* Largeur maximale des cartes */
    height: 80px; /* Hauteur ajustée des cartes */
    padding: 10px; /* Marges internes */
    margin: 0px; /* Espacement externe autour des cartes */
    margin-top: -23px;
    margin-bottom: -27px;
    background-color: #FFFFFF; /* Fond blanc */
    border-radius: 8px; /* Coins arrondis */
    border: 1px solid #dee2e6; /* Bordure légère */
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
    display: flex;
    flex-direction: column; /* Alignement vertical du contenu */
    justify-content: center; /* Centre verticalement le contenu */
    align-items: center; /* Centre horizontalement le contenu */
    text-align: center; /* Aligne le texte au centre */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation au survol */
}

/* Animation au survol */
.number-card:hover {
    transform: translateY(-5px); /* Légère élévation au survol */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Ombre plus marquée */
}

/* Titre des cartes (nombre principal) */
.number-card-title {
    font-size: 1.5rem; /* Taille du texte ajustée pour s'adapter */
    font-weight: bold; /* Texte en gras */
    color: #4A4A4A; /* Couleur sombre */
    margin-bottom: 5px; /* Espacement réduit avec le sous-titre */
}

/* Sous-titre des cartes */
.number-card-text {
    font-size: 0.9rem; /* Taille moyenne pour le texte descriptif */
    font-weight: 600; /* Semi-gras */
    color: #7D7D7D; /* Couleur gris foncé */
}


/* Style pour le conteneur principal */
.main-container {
    display: flex;
    flex-direction: column;
    padding: 0px;
    color: #11111;
    height: 100vh

}


.combined-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    align-items: flex-start; /* Aligne tous les éléments en haut */
}

.combined-section .left-column {
    flex: none;
    width: 65%; /* Largeur fixe */
    margin-right: 20px;
}

.combined-section .right-column {
    flex: none;
    width: 35%; /* Largeur fixe */
}


/* Style pour la section Dropdown + Texte descriptif */
.dropdown-text-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.dropdown-text-section .left-column {
    flex: 1;
    margin-right: 20px;
}

.dropdown-text-section .right-column {
    flex: 1;
}

.text-card {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 1px 1px;
    margin: 1px 1px;
    margin-top: 10px;
    text-align: justify;
    font-size: 0.7rem; /* Taille du texte */
    box-sizing: border-box; /* S'assure que padding et bordures sont inclus dans la taille */
    width: 99.8%;
    height: 65px;
}


/* Style pour la liste des articles */
.article-list {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 0px;
    margin: 10px;
    height: 385px;
    overflow-y: auto;
    font-size: 0.9rem;
}

.custom-title {
    color: #007BA7;
}

/*###########################################################################################################################"
/* Conteneur principal */
.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

/* Conteneur de la disposition : barre latérale + contenu */
.layout-container {
    display: flex;
    flex-direction: row;
    height: 100vh; /* Ajuste pour tenir compte de la hauteur de la navbar */
    width: 100%;
}

/* Barre latérale */
.sidebar {
    width: 250px; /* Largeur de la barre latérale */
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

/* Conteneur du contenu principal */
.content-container {
    flex-grow: 1; /* Prend tout l'espace restant */
    padding: 20px;
    overflow-y: auto;
    height:calc(100vh - 38px);
}

/* Onglets verticaux */
.tabs-container {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espacement entre les onglets */
}

.tab {
    padding: 10px 15px;
    border: none;
    background-color: #027699;
    color: #333;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.tab.active {
    background-color: #027699;
    color: #027699;
}

.tab:hover {
    background-color: ;
}
